* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: Montserrat;
  src: url(../webfonts/Montserrat-Regular.woff) format("woff");
}
@font-face {
  font-family: Roboto;
  src: url(../webfonts/Roboto-Regular.woff) format("woff");
}
header {
  width: 100%;
  background: #000;
  font-family: Roboto;
}
header .h_top {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
header .h_top ul {
  display: flex;
  align-items: center;
}
header .h_top ul li a {
  color: #fff;
}
header .h_top ul li a svg {
  --hundred-vw: calc(100vw - var(--scrollbar-width, 0px));
  --layout-padding: 0px;
  --grid-gap: 16px;
  --column-unit: calc(
    (var(--inner-width) + var(--grid-gap)) / var(--column-count)
  );
  overflow-wrap: break-word;
  --inner-width: calc(var(--hundred-vw) - 80px);
  --body-padding: 40px;
  --column-count: 12;
  --scrollbar-width: 15px;
  --hundred-vh: 965px;
  font: inherit;
  text-align: inherit;
  text-transform: inherit;
  line-height: inherit;
  -webkit-font-smoothing: inherit;
  cursor: pointer;
  box-sizing: border-box;
  height: 1em;
  width: 1em;
  pointer-events: none;
  fill: currentColor;
  font-size: 2em;
  color: #fff;
  vertical-align: middle;
}
header .left ul li {
  margin-right: 40px;
}
header .left ul li li:nth-child(2) a {
  padding-bottom: 10px;
}
header .left ul li a {
  display: inline-block;
}
header .right ul li {
  margin-left: 20px;
}
