@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: Pretendard;
  src: url(../webfonts/Pretendard-Regular.otf) format("opentype"); /* otf는 무조건 "opentype"으로 포맷 적어줘야함!!! otf아님! */
}
@font-face {
  font-family: Agatho;
  src: url(../webfonts/Agatho_Regular.otf) format("opentype");
}
body {
  font-family: Pretendard;
}

/* header */
header {
  position: fixed;
  top: 0;
  width: 1897px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  box-sizing: border-box;
  z-index: 2;
}
header ul {
  display: flex;
}
header ul li {
  margin-right: 30px;
}
header ul li:last-child {
  margin-right: 0;
}
header .util_right ul li:nth-child(1) {
  margin-top: 3px;
}
header .util_right ul li:nth-child(2) {
  margin: 3px 70px 0 0;
}
header ul li a {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
}
header .logo {
  margin-top: 20px;
}

/* menu */
header ul .menu a span {
  display: block;
  width: 37px;
  height: 2px;
  background: #fff;
  margin-bottom: 9px;
}
header ul .menu a span:last-child {
  margin-bottom: 0;
}

/* nav(사이트맵) */
nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #122223;
  z-index: 1;
  opacity: 0;
}
nav .nav_inner {
  width: 1600px;
  margin: 0 auto;
  padding-top: 150px;
}
nav .nav_inner > ul {
  display: flex;
  justify-content: space-between;
}
nav .nav_inner > ul > li > a {
  font-family: "Montserrat", sans-serif;
  color: #d4b297;
  font-size: 20px;
  font-weight: bold;
}
nav .nav_inner > ul > li > .sub_menu {
  margin-top: 30px;
}
nav .nav_inner > ul > li > .sub_menu > li > a {
  display: block;
  color: #fff;
  font-size: 18px;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
nav .nav_inner > ul > li > .sub_menu > li > a:hover {
  color: #d4b297;
}
nav .nav_inner > ul > li > .sub_menu > li > .ssub_menu {
  margin-top: 10px;
}
nav .nav_inner > ul > li > .sub_menu > li > .ssub_menu li a {
  display: block;
  color: #999;
  letter-spacing: -0.6px;
  margin-bottom: 15px;
}
nav .nav_inner > ul > li > .sub_menu > li > .ssub_menu li a:hover {
  text-decoration: underline;
}
nav .nav_inner > ul > li > .sub_menu > li > .ssub_menu li:last-child a {
  margin-bottom: 25px;
}
/* visual */
.visual {
  position: relative;
  width: 100%;
}
.visual .pics li:first-child {
  height: 880px;
  background: url(../images/visual01.png) center center no-repeat;
}
.visual .slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Agatho;
  font-size: 38px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
}
.control {
  width: 390px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 20px 170px;
}
.control ul {
  display: flex;
}
.control ul:first-child {
  width: 95%;
}
.control ul:first-child li a img {
  opacity: 0.5;
}
.control ul:first-child li a:hover img {
  opacity: 1;
}
.control ul:first-child li:nth-child(2) {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 5px 20px 0;
  color: #a1a1a1;
}
.control ul:first-child li:nth-child(2) span {
  color: #2a4139;
}
.control ul:nth-child(2) {
  width: 5%;
}
.control ul:nth-child(2) li:first-child {
  display: none;
}
.control .bar {
  width: 100%;
  height: 1px;
  margin: 15px 0;
  background: #a1a1a1;
}

/* reservation */
.reservation {
  position: absolute;
  top: 840px;
  right: 0;
  display: flex;
  width: 1100px;
  height: 130px;
  background: #fff;
}
.reservation .detail ul {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.reservation .detail ul li {
  position: relative;
  margin: 0 30px;
}
.reservation .detail ul li:after {
  position: absolute;
  top: 0;
  right: -30px;
  content: "";
  width: 1px;
  height: 100%;
  background: #dddddd;
}
.reservation .detail ul li:first-child {
  width: 130px;
}
.reservation .detail ul li:nth-child(2) {
  width: 300px;
}
.reservation .detail ul li:nth-child(2) p {
  letter-spacing: -1px;
}
.reservation .detail ul li:nth-child(3) p,
.reservation .detail ul li:nth-child(4) p,
.reservation .detail ul li:nth-child(5) p {
  text-align: center;
}
.reservation .detail ul li:last-child:after {
  background: none;
}
.reservation .detail ul li h4 {
  font-size: 14px;
  color: #9e9e9e;
  font-weight: 400;
  margin-bottom: 20px;
}
.reservation .detail ul li p,
.reservation .detail ul li p a {
  font-size: 22px;
  color: #333;
}
.reservation .btn_search {
  width: 212px;
}
.reservation .btn_search a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 130px;
  font-family: FrankRuhlLibre;
  font-size: 26px;
  background: #2a4139;
  color: #fff;
  text-align: center;
}
