@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: Pretendard;
  src: url(../webfonts/Pretendard-Regular.otf) format("opentype"); /* otf는 무조건 "opentype"으로 포맷 적어줘야함!!! otf아님! */
}
@font-face {
  font-family: Agatho;
  src: url(../webfonts/Agatho_Regular.otf) format("opentype");
}
body {
  font-family: Pretendard;
}

/* beige 배경색 */
.beige {
  position: static;
  width: 100%;
  max-width: 1920px;
  background: #fbf9f6;
}

/* header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1920px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  box-sizing: border-box;
  z-index: 2;
}
header ul {
  display: flex;
}
header ul li {
  margin-right: 30px;
}
header ul li:last-child {
  margin-right: 0;
}
header .util_right ul li:nth-child(1) {
  margin-top: 3px;
}
header .util_right ul li:nth-child(2) {
  margin: 3px 70px 0 0;
}
header ul li a {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
}
header ul li:first-child a:hover,
header ul li:nth-child(2) a:hover {
  opacity: 0.6;
}
header .logo {
  margin-top: 20px;
}

/* menu */
header ul #menu a span {
  display: block;
  width: 37px;
  height: 2px;
  background: #fff;
  margin-bottom: 9px;
  transition: transform 0.3s ease-in;
}
header ul #menu a span:last-child {
  margin-bottom: 0;
}

/* menu 버튼 움직임 스타일 */
.bar1 {
  /* height:2px + margin:9px = 11px; */
  transform: translate(0, 11px) rotate(45deg);
}
.bar2 {
  transform: scaleX(0);
}
.bar3 {
  transform: translate(0, -11px) rotate(-45deg);
}

/* nav(전체 메뉴) */
nav {
  /* display: none; */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  overflow: hidden; /* 아래 메뉴들 보여지는 거 숨기기위해 */
  background: #122223;
  z-index: 1;
  transition: height 0.5s ease-out;
}
.nav_bg {
  height: 100vh;
}
nav .nav_inner {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 150px;
}
nav .nav_inner > ul {
  display: flex;
  justify-content: space-between;
}
nav .nav_inner > ul > li > a {
  font-family: "Montserrat", sans-serif;
  color: #d4b297;
  font-size: 19px;
  font-weight: 600;
}
nav .nav_inner > ul > li > .sub_menu {
  margin-top: 30px;
}
nav .nav_inner > ul > li > .sub_menu > li > a {
  display: block;
  color: #fff;
  font-size: 18px;
  letter-spacing: -0.6px;
  margin-bottom: 22px;
}
nav .nav_inner > ul > li > .sub_menu > li > a:hover {
  color: #d4b297;
}
nav .nav_inner > ul > li > .sub_menu > li > .ssub_menu {
  margin-top: 10px;
}
nav .nav_inner > ul > li > .sub_menu > li > .ssub_menu li a {
  display: block;
  color: #999;
  letter-spacing: -0.6px;
  margin-bottom: 15px;
}
nav .nav_inner > ul > li > .sub_menu > li > .ssub_menu li a:hover {
  text-decoration: underline;
}
nav .nav_inner > ul > li > .sub_menu > li > .ssub_menu li:last-child a {
  margin-bottom: 25px;
}
/* visual */
.visual {
  position: relative;
  width: 100%;
}
.visual .pics li:first-child {
  height: 880px;
  background: url(../images/visual01.png) center center no-repeat;
}
.visual .slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Agatho;
  font-size: 40px;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
}

.control {
  width: 100%;
  max-width: 390px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 20px 170px;
}
.control ul {
  display: flex;
}
.control ul:first-child {
  width: 95%;
}
.control ul:first-child li a img {
  opacity: 0.5;
}
.control ul:first-child li a:hover img {
  opacity: 1;
}
.control ul:first-child li:nth-child(2) {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 5px 20px 0;
  color: #a1a1a1;
}
.control ul:first-child li:nth-child(2) span {
  color: #2a4139;
}
.control ul:nth-child(2) {
  width: 5%;
}
.control ul:nth-child(2) li:first-child {
  display: none;
}
.control .bar {
  width: 100%;
  height: 1px;
  margin: 15px 0;
  background: #a1a1a1;
}

/* reservation */
.reservation {
  position: absolute;
  top: 840px;
  right: 0;
  display: flex;
  width: 100%;
  max-width: 1100px; /* width:58% */
  height: 130px;
  background: #fff;
}
.reservation .detail ul {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.reservation .detail ul li {
  position: relative;
  margin: 0 30px;
}
.reservation .detail ul li:after {
  position: absolute;
  top: 0;
  right: -30px;
  content: "";
  width: 1px;
  height: 100%;
  background: #dddddd;
}
.reservation .detail ul li:first-child {
  width: 130px;
}
.reservation .detail ul li:nth-child(2) {
  width: 300px;
}
.reservation .detail ul li:nth-child(2) p {
  letter-spacing: -1px;
}
.reservation .detail ul li:nth-child(3) p,
.reservation .detail ul li:nth-child(4) p,
.reservation .detail ul li:nth-child(5) p {
  text-align: center;
}
.reservation .detail ul li:last-child:after {
  background: none;
}
.reservation .detail ul li h4 {
  font-size: 14px;
  color: #9e9e9e;
  font-weight: 400;
  margin-bottom: 20px;
}
.reservation .detail ul li p,
.reservation .detail ul li p a {
  font-size: 22px;
  color: #333;
}
.reservation .btn_search {
  width: 212px;
}
.reservation .btn_search a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 130px;
  font-family: Agatho;
  font-size: 26px;
  background: #2a4139;
  color: #fff;
  text-align: center;
}

/* [공통] title 스타일 */
.title {
  font-family: Agatho;
  color: #333;
  font-size: 55px;
  font-weight: 400;
}
.agatho {
  font-family: Agatho;
  font-size: 35px !important;
}

/* YOUR REST */
#rest_content {
  position: relative;
}
.rest {
  width: 100%;
  max-width: 1600px;
  margin: 130px auto;
  display: flex;
}
.rest .title_box {
  width: 40%;
}
.rest .title_box p {
  color: #6b6b6b;
  font-size: 18px;
  margin: 30px 0 50px;
  line-height: 30px;
  letter-spacing: -1px;
  font-weight: 200;
}
.rest .title_box ul {
  display: flex;
}
.rest .title_box ul li a {
  position: relative;
  display: inline-block;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #ca8e60;
  font-size: 14px;
  margin-right: 90px;
}
.rest .title_box ul li a:after {
  position: absolute;
  top: 5px;
  content: "";
  width: 24px;
  height: 4px;
  background: url(../images/room_list_arr.svg);
  background-size: 100% 100%;
  margin-left: 5px;
  transition: margin 0.2s;
}
.rest .title_box ul li a:hover:after {
  margin-left: 12px;
}
#rest_content .con {
  position: absolute;
  left: 42%;
  top: 0;
  overflow: hidden; /* 오른쪽 사진영역 때문에 가로스크롤생겨서 넘친거 일단 숨김!!! */
}
#rest_content .con > ul {
  display: flex;
}
#rest_content .con > ul > li {
  margin-right: 60px;
}
#rest_content .con .col .col_img {
  position: relative;
  width: 378px;
  height: 275px;
  overflow: hidden;
}
#rest_content .con .col .col_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: 0.5s;
}
#rest_content .con .col:hover .col_img img {
  transform: scale(1.1);
}
#rest_content .con .col .col_img span {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  font-size: 14px;
}
#rest_content .con .col .tag {
  font-size: 15px;
  color: #818181;
  margin: 10px 0 25px;
}
#rest_content .con .col .txt {
  width: 378px;
  margin-top: 20px;
  color: #818181;
}
#rest_content .con .col .txt h4 {
  font-size: 30px;
  color: #333;
  font-weight: 200;
}
#rest_content .con .col .txt p:first-of-type {
  font-size: 17px;
  font-weight: 200;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  letter-spacing: -0.5px;
  line-height: 28px;
  margin: 10px 0;
}
#rest_content .con .col .txt p:nth-of-type(2) {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #333;
}
#rest_content .con .col .txt p:nth-of-type(2) span {
  font-size: 16px;
}

/* [공통] 컨텐츠 컨트롤 */
.control_2 {
  width: 100%;
  max-width: 1034px;
  display: flex;
  flex-wrap: wrap;
  margin: 60px 0 150px;
}
.control_2 ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.control_2 ul li {
  margin-left: 30px;
}
.control_2 ul li a img {
  opacity: 0.5;
}
.control_2 ul li a:hover img {
  opacity: 1;
}
.control_2 .bar {
  width: 100%;
  height: 1px;
  margin-top: 30px;
  background: #a1a1a1;
}

/* DINING EXPERIENCE */
.dining {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
