@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: SDGothic;
  src: url(../webfonts/AppleSDGothicNeoR.woff) format("woff");
}
body {
  font-family: SDGothic, sans-serif;
}

/* top */
.top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}
.top ul {
  display: flex;
}
.top ul li {
  margin-left: 8px;
}
.top ul li a {
  font-size: 13px;
  color: #888;
}
.top ul li:first-child a {
  color: #222;
  font-weight: 600;
}
.top ul li a:after {
  content: "·";
  margin-left: 5px;
  font-weight: 600;
}
.top ul li:last-child a:after {
  content: "";
}
.top ul:after {
  content: "|";
  color: #d1d1d1;
  margin: 2px 0 0 18px;
}
.top p {
  line-height: 43px;
  margin-right: 80px;
}
.top p a {
  color: #222;
  font-size: 13px;
}
.top p a::before {
  content: url(../images/gnb_ico_ssgcom.png);
  margin: 0 5px 0 20px;
  position: relative;
  top: 1px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 80px;
}
header nav {
  width: 45%;
}
header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav ul li a {
  color: #444;
}
header .login ul {
  display: flex;
}
header .login ul li {
  margin-left: 20px;
}
header .login ul li a {
  color: #222;
  font-size: 13px;
}
header .login ul li:first-child a::before {
  content: url(../images/gnb_ico_login.png);
  margin-right: 8px;
}
header .login ul li:first-child a:after {
  content: "|";
  color: #d1d1d1;
  margin-left: 18px;
}
header .login ul li img {
  position: relative;
  top: 2px;
  left: -2px;
}

/* visual */
.visual {
  width: 1920px;
  height: 1080px;
  background: url(../images/visual01.jpg) no-repeat;
}
.slogan {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  letter-spacing: 1px;
}
.slogan .s_inner {
  width: 30%;
  height: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.slogan .control ul {
  display: flex;
}
.slogan .control ul li {
  margin-right: 30px;
}
.slogan .control ul li a {
  position: relative;
  color: #fff;
  font-size: 19px;
}
.slogan .control ul li:nth-child(2) a {
  color: rgba(255, 255, 255, 0.5);
}
.slogan .control ul li:first-child a::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #fff;
}
.slogan .control ul li:first-child a::after {
  display: none;
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 50px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
}
.slogan .control ul li:nth-child(2) a::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 50px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
}
.slogan .control ul li:nth-child(2) a::after {
  display: none;
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #fff;
}
.slogan .control ul li:nth-child(3) a {
  font-size: 0;
}
.slogan .control ul li:nth-child(3) a::before {
  content: url(../images/ico_kv_pause.png);
  position: absolute;
  bottom: -32px;
  left: 10px;
  width: 7px;
  height: 10px;
}
.slogan .control ul li:nth-child(3) a::after {
  display: none;
  content: url(../images/ico_kv_play.png);
  position: absolute;
  bottom: -32px;
  left: 10px;
  width: 7px;
  height: 10px;
}
.slogan .text {
  font-family: "Cormorant Garamond", serif;
  font-size: 80px;
  color: #fff;
}
.slogan .btn {
  position: relative;
  width: 100px;
  margin-left: 10px;
  /* transition: 1s; */
}
/* .slogan .btn:hover {
  transform: translateX(20px);
} */
.slogan .btn a {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.slogan .btn .line {
  position: absolute;
  background: #fff;
}
.slogan .btn .line-bottom {
  width: 90px;
  height: 2px;
  bottom: -10px;
  transition: 0.5s;
}
.slogan .btn .line-right {
  width: 2px;
  height: 40px;
  right: -1px;
  bottom: -10px;
  transform: scaleY(0);
  transition: transform 0.5s ease-in-out;
}
/*.slogan .btn .line-top {
  width: 100px;
  height: 2px;
  top: -10px;
}
.slogan .btn .line-left {
  width: 2px;
  height: 40px;
  left: -2px;
  bottom: -10px;
} */
.slogan .btn:hover .line-bottom {
  transform: scaleX(1.2);
}
.slogan .btn:hover .line-right {
  transform: scaleY(1);
}
.slogan .scroll_info span {
  position: relative;
}
.slogan .scroll_info span::before {
  position: absolute;
  top: 10px;
  left: 4px;
  content: "";
  width: 1px;
  height: 0;
  background: #fff;
  animation: scroll_info 1.5s infinite;
}
@keyframes scroll_info {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}
.slogan .scroll_info span::after {
  position: absolute;
  bottom: -111px;
  left: 0;
  content: "";
  width: 8px;
  height: 8px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(140deg);
}
